// https://material.io/design/color/dark-theme.html#anatomy

$charcoal: #1d2632;
$dark-grey: #232d3b;
$medium-grey: #273344;
$light-grey: #a2acbd;
$blue: #698af5;
$purple: #6c80e4;
$pink: #d25d8c;
$white: #fff;
$black: #000;

$background: #2a333b;
$surface: $dark-grey;
$primary: $blue;
$secondary: $purple;
$on-background: $white;
$on-surface: $white;
$on-primary: $black;
$on-secondary: $black;
